
        
        {{ form_errors(form) }}

        {{ form_start(form) }}
            {{ form_row(form.lastclass) }}
            {{ form_row(form.schoolleavingdate) }}
            {{ form_row(form.since) }}
            {{ form_row(form.lastdiplomaobtained) }}
            {{ form_row(form.lvl3)}}
            {{ form_row(form.lvl4) }}
            {{ form_row(form.lvl5) }}
            {{ form_row(form.lvl6) }}
            {{ form_row(form.lvl6_2) }}
            {{ form_row(form.lvl7) }}
            <button type="submit" class="btn">Enregistrer</button>
        {{ form_end(form) }}
    