{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}
<section class="row justify-content-center p-2 rounded-4 my-3">
    <div class="col-3 border border-bottom-0 border-top-0 m-3">
        <h1>Register</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
            {{ form_rest(registrationForm) }}

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</section>
{% endblock %}
